**/.idea
**/.settings
**/.project

node_modules
node_modules/
node_modules/*
/node_modules
**/node_modules
*/node_modules

target/

*.iml
*.log

npm-debug.log*

.metadata/
.recommenders/

Node/tmp/
Node/tmp
Node/tmp/*

